@use "mixins";
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: variables.$color-bg;
  color: variables.$color-text;
  font-family: Inter, system-ui, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: min(1200px, calc(100% - 32px));
  margin-inline: auto;
}
section[id] {
  scroll-margin-top: 90px;
}
@include mixins.mobile {
  body {
    padding-bottom: 92px;
  }
}
